/* Body styling for centering the cube section and cube color */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    background: radial-gradient(circle, #37B7C3 0%, #071952 100%);
    color: white; /* text color */
}

/* Cube container */
#cubecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* 3D scene setup */
.scene {
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Depth for 3D effect */
}

/* Cube styling */
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg); /* Initial rotation */
    transition: transform 1s ease-out; /* smooth rotation stop */
}

/* Styling for each face of the cube */
.face {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #088395;
    border: 2px solid #37B7C3;
    box-shadow: 0 0 20px #37B7C3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

/*  cube face positioning */
.front  { transform: rotateY(  0deg) translateZ(200px); }
.back   { transform: rotateY(180deg) translateZ(200px); }
.right  { transform: rotateY( 90deg) translateZ(200px); }
.left   { transform: rotateY(-90deg) translateZ(200px); }
.top    { transform: rotateX( 90deg) translateZ(200px); }
.bottom { transform: rotateX(-90deg) translateZ(200px); }


h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* spin animation when page is loaded */
.cube {
    animation: initialSpin 1.5s ease-out;
}

@keyframes initialSpin {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* Adjust scene and cube face size for mobile */
@media (max-width: 500px) {
    .scene {
        width: 400px;
        height: 400px;
    }

    .face {
        width: 400px;
        height: 400px;
    }

    /* Adjust text size for mobile */
    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

.pepe {
    width: 100%;
    opacity: 0.05; /* Make the image almost invisible */
    position: absolute; /* Position it within the face bottom */
    z-index: -1; /* Send it behind other content */
}

.logos img {
    width: 30px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Add some space around the logos */
    vertical-align: middle; /* Align it properly with text */
    display: inline-block;
}

.logos {
    text-decoration: none;
}










